name: CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    env:
      FORCE_COLOR: 1
    steps:
    - uses: earthly/actions/setup-earthly@v1
      with:
        version: v0.8.15
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Put back the git branch into git (Earthly uses it for tagging)
      run: |
        branch=""
        if [ -n "$GITHUB_HEAD_REF" ]; then
          branch="$GITHUB_HEAD_REF"
        else
          branch="${GITHUB_REF##*/}"
        fi
        git checkout -b "$branch" || true

    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build dev env image (amd64)
      run: |
        docker buildx build \
          --platform linux/amd64 \
          -f dev-env-as-code/Dockerfile \
          -t ghcr.io/${{ github.repository_owner }}/toby-dev-env:latest \
          --push \
          dev-env-as-code

    - name: Earthly version
      run: earthly --version

    - name: Run build
      # Allow privelaged is required to run docker in docker
      run: |
        cat > /tmp/earthly.arg <<'EOF'
        DEV_ENV_IMAGE=ghcr.io/${{ github.repository_owner }}/toby-dev-env:latest
        IMAGE_PREFIX=ghcr.io/${{ github.repository_owner }}
        APP_NAME=${{ github.event.repository.name }}
        SOURCE_REPO_URL=https://github.com/${{ github.repository }}
        RUST_TARGET=x86_64-unknown-linux-musl
        DBMATE_ARCH=amd64
        EOF
        earthly --allow-privileged --push --arg-file-path /tmp/earthly.arg +all
